/* GENERELLES */

@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');


/* HEAD */
html, body, h1, h2, h3, h4, h5, h6, p {
  margin: 0;
  padding: 0;
  font-family: 'Roboto Mono', monospace;
}

a {
  text-decoration: none;
  color: #FAD207;
}
body {
    font-family: 'Roboto Mono', monospace;
    position: relative;
}

@media (prefers-reduced-motion: no-preference) {
 body {
    margin: 0;
    scroll-snap-type: y mandatory; 
    scroll-behavior: smooth;
    scroll-padding: 0; /* nicht nötig */
  }
  
  section {
    height: 100vh;
    scroll-snap-align: start; 
    scroll-margin: 0;  /* nicht nötig */
  }
}

#bgpicture {
  position: absolute;
  width: 100%;
  height: 100vh;  
  z-index: -1;
}

 section:first-of-type {
  opacity: 1;
  transition: all 0.5s;
}
 
section:target {
  opacity: 1;
 }

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow-y: scroll;
  scroll-snap-type: y mandatory;
}

.nowrap {
  white-space: nowrap;
}

.inline-block {
  display: inline-block;
}

  /* FLEX-BOX */

.flex {
  display: flex;
  align-items: center;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-wrap {
  display: flex;
  flex-wrap: wrap;
}

/* NAVIGATION */

.navigation {
  top: 2vh;
  left: 3vh;
  z-index: 1;
  position: fixed;
  width: 100%;
}

.navigation-title {
  font-size: 40px;
  font-weight: bold;
  color: white;
}

.navigation-links {
  gap: 40px;
  margin-right: 20vw;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: white;
}

a > h2 {
  font-size: 24px;
}

.navigation-links > a:visited {
  color: white;
}

.navigation-link-active {
  color: #FAD207 !important;
}

.sec1-card-footer-two {
  margin-top: 10px;
}

.bar-nav {
  position: absolute;
  right: 5vh;
}

/* FIRST PAGE */

.sec1 {
  height: 100vh;
  width: 100vw;
}

.sec-page1 {
  position: relative;
    height: 100vh;
    width: auto;
}


.page1 {
  background-color: #07001B;
  border-radius: 10px;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  padding: 40px 70px;
  width: 800px;
  box-sizing: border-box;
  max-width: 95vw;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
}

  h1 {
    font-size: 40px;
    font-weight: bold;
}

.sec1-card-header {
  gap: 40px;
  margin-bottom: 32px;
}

.gap-sm {
  gap: 8px;
}

.gap-md {
  gap: 24px;
}

.sec1-card-content {
  color: #D9D9D9;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: .1em;
  font-weight: 300;
}

.sec1-card-footer {
  margin-top: 32px;
}

.sec1-card-footer {
  margin-top: 32px;
}

@media only screen and (max-width: 800px) {
  .navigation-links {
      display: none;
  }

  .sec1-card-header {
    display: block;
    margin-bottom: 14px;
}

h1 {
    font-size: 30px;
}

.page1 {
    padding: 20px;
}

.sec1-card-header > img {
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
}

.sec1-card-content {
    font-size: 14px;
    line-height: 16px;
    letter-spacing: .05em;
}

.navigation-title {
    font-size: 20px;
}

.bar-nav {
    width: 32px;
    height: 32px;
}

.navigation {
    margin-top: 2vh;
}
}

/* SECOND PAGE */

.sec2 {
  height: 100vh;
  width: 100vw;
}

.sec-page2 {
  position: relative;
    height: 100vh;
    width: auto;
}

.page2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: 800px;
  width: 95%;
  background: #07001B;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 60px;
  padding-top: 40px;
}

.überschrift-sec2 {
  font-weight: 700;
  font-size: 40px;
  line-height: 53px;
}


.überschrift > span {
    padding: 18px;
    color: #FAD207;
  }


/* COMMENTS */


.comment-right {
  width: 562px;
  background: #0E132C;
  border-radius: 10px;
  padding: 13px;
  padding-left: 20px;
  gap: 25px;
  margin-top: 40px;
}

.comment-left {
  width: 562px;
  background: #0E132C;
  border-radius: 10px;
  padding: 13px;
  margin-left: 85px;
  padding-left: 20px;
  gap: 25px;
  margin-top: 40px;
}

.comment-button {
  background: #FAD207;
  border-radius: 10px;
  width: 203px;
  height: 33px;
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  gap: 10px;
  margin-top: 10px;
}

.comment-text {
  max-width: 404px;
  width: 100%;
}

.comment-sign {
  margin-top: 5px;
  color: #8A8B8F;
}

@media only screen and (max-width: 800px) {

  .page2 {
    padding: 10px;
  }

  .überschrift-sec2 {
    font-size: 24px;
    word-spacing: 2px;
  }

  .überschrift-sec2 > span {
    padding: 10px;
    word-spacing: 2px;
  }

  .comment-picture {
    width: 20%;
    max-width: 100px;
    height: auto;
  }

  .comment-right {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    background-color: #07001B;
    font-size: 12px;
  }

  .comment-left {
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 0px;
    background-color: #07001B;
    font-size: 12px;
    margin-left: 0px;

  }

  .comment-button {
    width: 138px;
    height: 25px;
  }

}

/* THIRD PAGE */

.sec3 {
  height: 100vh;
  width: 100vw;
}

.sec-page3 {
  position: relative;
    height: 100vh;
    width: auto;
}

.page3 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  max-width: 800px;
  width: 95%;
  background: #07001B;
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.5);
  border-radius: 5px;
  color: white;
  padding: 60px;
  padding-top: 30px;
  padding-left: 114px;
  padding-right: 114px;
}

.überschrift-sec3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  margin-bottom: 10px;
  margin-top: 10px;
}

.light-sec3 {
  display: none;
}

.all-caption-sec3 {
  margin-left: 40px;
}


.p-caption-sec3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  margin-bottom: 2px;
}

.p-active-caption-sec3 {
  font-weight: 400;
  font-size: 20px;
  line-height: 26px;
  color: #FAD207;
}

.ln-div {
  gap: 30px;
  margin-top: 40px;
}

.mail-div {
  gap: 30px;
  margin-top: 15px;
}

.links-sec3 {
  color: #8A8B8F;
  font-size: 20px;
}

.line {
  position: absolute;
  top: 45%;
  right: 0;
  width: 100%;
}

.links-sec3-mobile {
  display: none;
}

.part2-sec3-mobile {
  display: none;
}

/* BUTTONS */

.bookacall {
margin-top: 80px;
color: white;
font-size: 24px;
line-height: 16px;
letter-spacing: 1.5px;
}

.contact-div {
  margin-top: 40px;
  gap: 20px;
}

.vorname {
  color: white;
  width: 100%;
  height: 42px;
  border: 1px solid white;
  background: #07001B;
  border-radius: 5px;
}

.nachname {
  color: white;
  width: 100%;
  height: 42px;
  border: 1px solid white;
  background: #07001B;
  border-radius: 5px;
}

.email {
  box-sizing: border-box;
  margin-top: 15px;
  color: white;
  width: 100%;
  height: 42px;
  border: 1px solid white;
  background: #07001B;
  border-radius: 5px;
}

.anliegen {
  box-sizing: border-box;
  margin-top: 15px;
  color: white;
  width: 100%;
  height: 42px;
  border: 1px solid white;
  background: #07001B;
  border-radius: 5px;
}

.buchenbutton { 
  box-sizing: border-box;
  margin-top: 20px;
  width: 100%;
  height: 42px;
  background: #FAD207;
  border-radius: 5px;
}

.bannerbottom {
  position: absolute;
  transform: translate(-50%, -50%);
  bottom: 1%;
  left: 50%;
  gap: 10px;
  color: #BDBDBD;
}

@media only screen and (max-width: 800px) {
  
  .page3 {
    padding: 25px;
  }

  .img-sec3 {
    margin-left: 35%;
  }
  
  .bannerbottom {
    display: none;
  }

  .light-sec3 {
    display: inline;
  }

  .überschrift-sec3 {
    font-size: 30px;
    margin: 5px 0 15px 0;
  }

  .all-caption-sec3 {
    width: 100%;
  }

  .p-caption-sec3 {
    margin-bottom: 0;
    font-size: 16px;
  }

  .p-active-caption-sec3 {
    margin-top: -3px;
    font-size: 16px;
  }

  .all-caption-sec3 {
    margin-left: 0px;
  }

  .img-sec3{
    width: 100px;
  }

  .links-sec3-mobile {
    display: inline;
  }

  .links-sec3-mobile > a {
    color: #8A8B8F;
    font-size: 14px;
  }  

  .part2-sec3 {
    display: none;
  }

  .part2-sec3-mobile {
    display: inline;
    margin: 20% 0 20% 0;
  }

  .ln-div {
    gap: 30px;
    margin: 40px 20% 0 20%;
  }

  .ln-div-mobile {
    margin-top: 30px;
    gap: 80px;
  }

  .line {
    top: 320px;
  }
  
  .bookacall {
    font-size: 20px;
    margin-top: 50px;
  }
}